body {
	color: #555;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,
  ffffff+100;White+Gloss+%232 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(
		-45deg,
		#ffffff 0%,
		#f3f3f3 50%,
		#ededed 51%,
		#ffffff 100%
	); /* FF3.6-15 */
	background: -webkit-linear-gradient(
		-45deg,
		#ffffff 0%,
		#f3f3f3 50%,
		#ededed 51%,
		#ffffff 100%
	); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(
		135deg,
		#ffffff 0%,
		#f3f3f3 50%,
		#ededed 51%,
		#ffffff 100%
	); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
	/* IE6-9 fallback on horizontal gradient */
}

.switch-wrapper {
	position: relative;
}

.switch-wrapper > div {
	/*position: absolute;*/
}

body {
	background: #dbedf3;
	font-family: 'Hind', sans-serif;
	padding-bottom: 30px;
	/*padding-top: 20px;*/
	color: #333;
}

.top-bar {
	background-color: #283149;
	height: 50px;
	padding-top: 0;
	padding-bottom: 0;
}

nav.top-bar div.item {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	font-size: 1.5em;
	transition: background-color 0.5s;
	/*padding-left: 3px;*/
	/*padding-right: 3px;*/
	width: 100px;
}

nav.top-bar div.item:hover {
	background-color: #f73859;
}

nav.top-bar div.item a {
	color: white;
}

h1,
h2,
strong {
	color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Artifika', serif;
}

span.highlight {
	font-weight: bold;
	background: #f73859;
}

h1 {
	text-align: center;
}

#content {
	margin-top: 30px;
}

.container {
	padding-bottom: 30px;
}

.button {
	background-color: #f73859;
}

.card {
	border: 1px;
	border-color: darkgray;
	border-radius: 5px;
	border-style: solid;
	padding: 15px;
	background-color: #404b69;
	box-shadow: 2px 1px black;
	margin-bottom: 15px;
	color: #dbedf3;
}

.card:hover {
	box-shadow: 4px 2px black;
}

.card p,
label {
	color: #dbedf3;
}

.card iframe {
	border-radius: 5px;
	width: 100%;
	height: 400px;
}

.card .button {
	margin-right: 5px;
}

.card .full-script {
	background-color: #283149;
	padding: 10px;
	border-radius: 5px;
}

.card .snippet {
	margin-top: 10px;
	margin-bottom: 10px;
}

.pagination {
	text-align: center;
}

.pagination li {
	font-size: 2em;
}

#make-my-gif video {
	width: 98%;
}

#make-my-gif .title-container {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*#video-clip-preview {
	position: absolute;
	right: 0px;
	top: 50%;
}*/

#gif-start-time {
	width: 100%;
}

#gif-preview {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	transition: display 2s;
}

#gif-preview > div {
	display: block;
	margin-top: 10%;
}

#gif-preview img {
	height: auto;
	align-self: center;
	transition: display 2s;
	/*margin: auto;*/
}

#gif-preview .grid-x {
	display: flex;
}

.gif-preview-buttons {
	/*display: block;*/
	/*align-self: center;*/
}
